/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media(max-width:1405px){
    .whole-news{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
}
@media(max-width:1244px){
    .burger-icon-container{
        display: block;
    }
    .navigation{
        display: none;
    }
    .header-wrapper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .nav-ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 20px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .nav-li{
        margin-top: 20px;
        color: red;
        font-weight: bolder;
    }
    .nav-li:hover{
        color: white;
    }
    .navigation.active{
        display: block;
    }
    .section-block{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .section-p{
        width: 90%;
    }
    /* feauture-block */
    .text-place{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .ninja-image{
        -webkit-transform: translateX(-100px);
            -ms-transform: translateX(-100px);
                transform: translateX(-100px);
        margin-top: 50px;
    }
    .display-block{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .right-section-container{
        margin-top: 30px;
        -webkit-transform: translateX(-100px);
            -ms-transform: translateX(-100px);
                transform: translateX(-100px);
        border: none;
    }
    .flex-image{
        width: 100%;
    }
    .models{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .view{
        -webkit-transform: translateX(-60px);
            -ms-transform: translateX(-60px);
                transform: translateX(-60px);
    }
    .flex-image-block{
        max-width: 600px;
        width: 100%;
        -webkit-transform: translateX(-80px);
            -ms-transform: translateX(-80px);
                transform: translateX(-80px);
    }
    
    .top-feature{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .news-text,
    .read-more{
        font-size: 15px;
    }
}
@media(max-width:1181px){
    .feature-title-container{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .first-image-block{
        max-width: 350px;
        width: 100%;
    }
    .flex-image{
        width: 100%;
    }
}
@media(max-width:1065px){
    .whole-radio{
        display:-ms-grid;
        display:grid;
        -ms-grid-columns:auto auto auto auto auto auto auto auto;
        grid-template-columns:auto auto auto auto auto auto auto auto;
    }
}
@media(max-width:960px){
    .moto-container{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .right-flex{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .flex-image-block{
        -webkit-transform: translateX(-20px);
            -ms-transform: translateX(-20px);
                transform: translateX(-20px);
    }
    .flex-image{
        width: 70%;
    }
    .first-feature-block{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .first-image-block{
        max-width: 700px;
        width: 100%;
    }
    .flex-image{
        width: 100%;
    }
    .title-container{
        text-align: center;
        width: 100%;
    }
    .view-button{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}
@media(max-width:832px){
    .soial-links{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .social-a{
        margin-top: 40px;
    }
}
@media(max-width:754px){
    .feature-container,
    .feauture-whole-container{
        -webkit-transform: translateX(-100px);
            -ms-transform: translateX(-100px);
                transform: translateX(-100px);
    }
}
@media(max-width:680px){
    .title-block{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .See-all{
        margin-top: 25px;
    }
    .whole-news{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .each-news{
        margin-top: 20px;
    }
    .whole-radio{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    }
    .each-radio{
        margin-top: 30px;
    }
}

@media(max-width:465px){
    .icon-container{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    }
    .socicons{
        font-size: 20px;
        margin-top: 20px;
    }
    .radio-container{
        display: block;
    }
}
@media(max-width:526px){
    .section3-h3,
    .section-title{
        font-size: 30px;
    }
}
