@media(max-width:1396px){
    footer{
        background-color: rgb(20, 3, 3);
    }
}
@media(max-width:1244px){
    .burger-icon-container{
        display: block;
    }
    .navigation{
        display: none;
    }
    .header-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-ul{
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }
    .nav-li{
        margin-top: 20px;
        color: red;
        font-weight: bolder;
    }
    .nav-li:hover{
        color: white;
    }
    .navigation.active{
        display: block;
    }
    .section-block{
        flex-direction: column;
        align-items: center;
    }
    .section-p{
        width: 90%;
    }
    /* feauture-block */
    .text-place{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ninja-image{
        transform: translateX(-100px);
        margin-top: 50px;
    }
    .display-block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right-section-container{
        margin-top: 30px;
        transform: translateX(-100px);
    }
    .flex-image{
        width: 100%;
    }
    .models{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .view{
        transform: translateX(-60px);
    }
    .flex-image-block{
        max-width: 600px;
        width: 100%;
        transform: translateX(-150px);
    }
    .first-feature-block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top-feature{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .power,
    .pure,
    .text-right-block{
        display: flex;
        align-items: center;
        justify-content: center;
    }
 
}
@media(max-width:1181px){
    .feature-title-container{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
}
@media(max-width:960px){
    .moto-container{
        justify-content: center;
        align-items: center;
    }
    .right-flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flex-image-block{
        transform: translateX(-20px);
    }
    .flex-image{
        width: 70%;
    }
}
@media(max-width:832px){
    .soial-links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .social-a{
        margin-top: 40px;
    }
}
@media(max-width:754px){
    .feature-container{
        transform: translateX(-100px);
    }
}
@media(max-width:680px){
    .title-block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .See-all{
        margin-top: 25px;
    }
}
@media(max-width:465px){
    .icon-container{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .socicons{
        font-size: 20px;
        margin-top: 20px;
    }
}
@media(max-width:526px){
    .section3-h3,
    .section-title{
        font-size: 30px;
    }
}