:root{
    --white-background-color:#ffff;
    --additional-background-color: rgb(24, 22, 22);
    --navigation-font:16px;
    --Roboto-font:'Roboto', sans-serif;
    --title-fontsize:42px;
    --title-color:#64D130;
    --osvald-font:'Oswald', sans-serif;
}
body{
    background-color: rgb(24, 22, 22);
}
.header{
    max-width: 1920px;
    width: 100%;
}
.header-wrapper{
    width: 80%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    position: relative;
}
.logo-container{
    max-width: 300px;
    width: 100%;
}
.navigation{
    max-width: 700px;
    width: 100%;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
}
.nav-a{
    font-size: var(--navigation-font);
    color: var(--white-background-color);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bolder;
}
.nav-a:hover{
    color: red;
}
.burger-icon-container{
    position: absolute;
    top: 15px;
    right: 20px;
    color: white;
    font-size: var(--navigation-font);
    display: block;
    max-width: 60px;
    width: 100%;
    display: none;
    font-size: 50px;
    cursor: pointer;
}
.search-flex{
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search-icon{
    font-size: 40px;
    color: white;
    margin-top:50px;
    margin-left: 10px;
    cursor: pointer;
}
.input{
    max-width: 400px;
    width: 100%;
    margin-left: 180px;
    margin-top: 50px;
}
.input ::placeholder{
    font-size: 20px;
    font-family: var(--Roboto-font);
    font-style: italic;
    font-weight: 100;
}
.input input{
    font-size: 15px;
    font-family: var(--Roboto-font);
    font-weight: 100;
}
.search{
    width: 100%;
    height: 50px;
    border-radius: 50px;
}

/* end header */
/* start header */
.section{
    max-width: 1920px;
    width: 100%;
    margin-top: 100px;
    padding-left: 100px;
}
.section-block{
    max-width: 1920px;
    width: 100%;
    display: flex;
}
.moto-block{
    max-width: 1000px;
    width: 100%;
}
.kawasaki{
    max-width: 1000px;
    width: 100%;
}

.section-description{
    max-width: 600px;
    width: 100%;
    margin-top: 100px;
}
.section-title{
    font-size: var(--title-fontsize);
    color: var(--title-color);
    font-family: var(--Roboto-font);
    width: 100%;
}
.sub-section-title{
    font-size: 24px ;
    font-family: var(--Roboto-font);
    color: var(--white-background-color);
    margin-top: 30px;
    width: 100%;
}
.section-p{
    font-size:18px;
    color: var(--white-background-color);
    font-family: var(--Roboto-font);
    width: 100%;
    margin-top: 30px;
    line-height: 30px;
    text-align: justify;
}
.learn-more{
    font-size: 18px;
    color: var(--title-color);
    margin-top: 30px;
    text-decoration: underline;
    width: 100%;
    cursor: pointer;
}
/* end section */
/* start section 2 */
.section-ul{
    margin-top: 20px;
}
.section-li{
    margin-top: 20px;
    color: var(--white-background-color);
    font-size: 18px;
    font-family: var(--Roboto-font);
}
.section3{
    max-width: 1920px;
    width: 100%;
    transform: translateY(70px);
    background-color: rgb(0, 0, 0);
    padding-top: 20px;
}
.section3-title{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.section3-h3{
    color: var(--title-color);
    font-size: var(--title-fontsize);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section3-p{
    margin-top: 30px;
    color: var(--white-background-color);
    font-size: 18px;
    width: 100%;
}

.kawasakki{
   width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}
/* start 1st footer */
.footer{
    max-width: 1920px;
    width: 100%;
    margin-top:100px;
    background-color: rgb(20, 3, 3);
    padding-top: 20px;
}
.footer-block{
    max-width: 1920px;
    width: 100%;
}
.title-block{
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product-title{
    max-width: 400px;
    width: 100%;
    color: white;
    font-size: 25px;
    font-weight: 900;
    font-family: var(--Roboto-font);
    margin-left: 50px;
    cursor: pointer;
}
.h2-product{
    width: 100%;
}
.product-title:hover{
    color: rgb(158, 19, 19);
}
.See-all{
    max-width: 300px;
    width: 100%;
    color: var(--title-color);
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    padding-right: 200px;
    font-family: var(--Roboto-font);
    cursor: pointer;
}
.h3-see-all{
    width: 100%;
}
.See-all:hover{
    color: rgb(158, 19, 19);
}
.fa-chevron-right{
    margin-left: 5px;
}
.moto-container{
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Moto-block{
    max-width: 400px;
    width: 100%;
    display: flex;
    margin-top: 80px;
    margin-left: 50px;
    cursor: pointer;
    transition: 2s;
}
.Moto-block:hover{
    background-color: rgb(143, 10, 10);
}
.Motto-icon{
    font-size: 100px;
    color:var(--title-color);
}
.Motto-description{
    max-width: 200px;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
}
.footer-h4{
    color: grey;
    font-family: var(--Roboto-font);
    font-size: 20px;
    margin-bottom: 10px;
}
.footer-h5{
    color: white;
    font-family: var(--Roboto-font);
    font-size: 20px;
    margin-top: 20px;
}
.red{
    color: red;
}
.messenenger{
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: blue;
    font-size: 70px;
    cursor: pointer;
}
.fa-facebook-messenger{
    transition: 2s;
}
.fa-facebook-messenger:hover{
    font-size: 100px;
}
.fa-motorcycle{
    transition: 1s;
}
.fa-motorcycle:hover{
    font-size: 150px;
}
.fa-gear{
    transition: 1s;
}
.fa-gear:hover{
    font-size: 150px;
}
.icon-container{
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 50px auto;

}
.socicons{
    margin-left: 20px;
    font-size: 30px;
    transition: 1s;
    cursor: pointer;

}
.socicons:hover{
    font-size: 40px;
    color: rgb(116, 6, 6);
}
.after-footer-container{
    max-width: 1920px;
    width: 100%;
    padding-bottom: 30px;
}
.after-footer-ul{
    max-width: 1920px;
    width: 100%;
}
.soial-links{
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
    display: flex;
}
.social-a:after{
    content: '';
    display: inline-block;
    background-color: rgb(148, 144, 144);
    width: 2px;
    height: 15px;
    margin: 0 20px;
}
.social-a{
    color: rgb(148, 144, 144);
}
.social-a:hover{
    color: red;
}
.Coyyright{
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(148, 144, 144) ;
    margin-bottom: 30px;
}
/* feauture-block */
.feature-section{
   max-width: 1920px;
   width: 100%;
   padding-left: 180px;
   margin-top: 100px;
}
.feature-container{
    width: 100%;
}
.feature-title-container{
    max-width: 300px;
    color: var(--white-background-color);
    font-size: 42px;
}
.text-place{
    max-width: 1920px;
    width: 100%;
    padding-top: 50px;
    display: flex;
}
.feauture-text{
    max-width: 500px;
    width: 100%;
    font-size: 18px;
    color: var(--white-background-color);
    font-family: var(--Roboto-font);
    line-height: 40px;
    text-align: justify;
}
.ninja-image{
    max-width: 800px;
    width: 100%;
    margin-left: 100px;
    transform: translateY(50px)
}
.ninja-kawasaki{
    width: 100%;
}
.feauturing-h3{
    color: var(--title-color);
    font-size: 30px;
    font: var(--Roboto-font);
    margin-top: 30px;
}
.feautire-ul{
    margin-top: 30px;
    color: lightgrey;
    font-size: 15px;
}
/* section1 feature */
.feature-second-section{
    max-width: 1920px;
   width: 100%;
   padding-left: 180px;
   margin-top: 100px;
}
.feauture-whole-container{
    max-width: 1750px;
    width: 100%;
}
.models{
    max-width: 100%;
    color: var(--white-background-color);
    font-size: 42px;
    font-family: var(--Roboto-font);
}
.display-block{
    margin-top: 30px;
    display: flex;
}
.flex-image-block{
    max-width: 400px;
    width: 100%;
}
.flex-image{
    width: 100%;
}
.right-section-container{
    margin-left: 20px;
    max-width: 1000px;
    width: 100%;
    padding: 10px 50px;
}
.year,
.ninja{
    font-size: 18px;
    color: var(--title-color);
    font-family: var(--Roboto-font);
    width: 100%;
}
.ninja{
    margin-top: 5px;
}
.price{
    font-size: 15px;
    color: lightgray;font-family: var(--Roboto-font);
    margin-top: 10px;
    width: 100%;
}
.right-flex{
    max-width: 1000px;
    width: 100%;
    display: flex;
}
.li-block{
    max-width: 350px;
    width: 100%;
    color: grey;
    margin-top: 30px;
    line-height: 30px;
    font-size: 13px;
    font-family: var(--Roboto-font);
}
.ninja-right{
    max-width: 500px;
    width: 100%;
}
.right-ninja{
    width: 100%;
}
.view{
    max-width: 200px;
    width: 100%;
    height: 100px;
    font-size: var(--Roboto-font);
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-size: 10px;
    align-items: center;
    transition: 2s;
    cursor: pointer;
    text-transform: uppercase;
}
.view-button{
    width: 100%;
    height: 50px;
    color: black;
    font-family: var(--Roboto-font);
    font-size: 18px;
}
/* Top-feature section */
.top-feature-section{
    max-width: 1920px;
   width: 100%;
   padding-left: 180px;
   margin-top: 100px;
}
.top-feature-container{
    max-width: 1750px;
    width: 100%;
}
.top-feature{
    width: 100%;
    color: var(--white-background-color);
    font-family: var(--Roboto-font);
    font-size: var(--title-fontsize);
}
.first-feature-block{
    max-width: 1750px;
    width: 100%;
    display: flex;
}
.first-image-block{
    max-width: 600px;
    width: 100%;
    margin-top: 30px;
}
.first-right-block{
    padding-left: 30px;
    max-width: 1000px;
    width: 100%;
}
.right-title-block{
    max-width: 400px;
    width: 100%;
    padding-top: 30px;
}
.power{
    color: var(--white-background-color);
    font-size: 30px;
    font-family: var(--Roboto-font);
    width: 100%;
}
.pure{
    width: 100%;
    font-size: 18px;
    color: lightgray;
    margin-top: 10px;
}
.text-right-block{
    max-width: 600px;
    width: 100%;
    padding-top: 50px;
    color: lightgray;
    font-size: 18px;
    font-family: var(--Roboto-font);
}
.explore-more{
    padding-top: 50px;
    max-width: 200px;
    width: 100%;
}
.explore-button{
    width: 100%;
    height: 50px;
    color: black;
    font-family: var(--Roboto-font);
    font-size: 18px;
}
/* news section */
.news-section{
    max-width: 1920px;
    width: 100%;
}
.news-container{
    max-width: 1920px;
    width: 100%;
}
.whole-news{
    max-width: 1500px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    margin-top: 100px;
}
.each-news{
    max-width: 450px;
    width: 100%;
    position: relative;
    margin-right: 20px;
    margin-top: 30px;
}
.news-img{
    width: 100%;
}
.news-date{
    position: absolute;
    width: 100%;
    font-size: 20px;
    color: rgb(207, 204, 204);
    top: 30%;
    left: 1%;
    font-family: var(--Roboto-font);
    font-weight: 900;
}
.news-text{
    position: absolute;
    width: 100%;
    top: 40%;
    left:1%;
    font-family: var(--Roboto-font);
    font-weight: 900;
    color: var(--title-color);
    font-size: 2vw;
    transition: 1.5s;
}
.read-more{
    position: absolute;
    width: 100%;
    top: 80%;
    left:1%;
    font-family: var(--Roboto-font);
    font-weight: 900;
    color: var(--title-color);
    font-size: 20px;
    display: flex;
    transition: 2s;
    cursor: pointer;
}
.read-more:hover{
    font-size: 25px;
}
.radio-container{
    max-width: 1920px;
    width: 100%;
    display: flex;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}
.whole-radio{
    display: flex;
}
.each-radio{
    font-size: 20px;
    color: var(--title-color);
    font-family: var(--Roboto-font);
}
.filter-text{
    color: white;
    font-size: 25px;
    font-family: var(--Roboto-font);
    font-family: 900;
}
/* rest-news section */
.rest-news-section{
    max-width: 1920px;
    width: 100%;
    margin-top: 100px;
    padding-left: 190px;
    justify-content: space-between;
}
.rest-news-container{
    max-width: 1920px;
    width: 100px;
    display: flex;
}
.news-icon{
    max-width: 70px;
    width: 100%;
    color: rgb(109, 14, 14);
    font-size: 30px;
}
.rest-text{
    max-width: 300px;
    width: 100%;
}
.news-h3{
    width: 100%;
    font-size: 18px;
    color: lightgrey;
}
.rest-newsimg-container{
    max-width: 500px;
    width: 100%;
}
.load-more{
    max-width: 300px;
    width: 100%;
    height:60px;
    font-size: 42px;
    background-color: var(--title-color);
    margin-top: 50px;
    font-family: var(--Roboto-font);
    font-family: 900;
    cursor: pointer;
    border-radius: 50px;
}
.load-button{
    max-width: 1920px;
    width: 100%;
    text-align: center;
}
/* test section */
.test-section{
    max-width: 1920px;
    width: 100%;
    margin-top: 60px;
}
.test-container{
    max-width: 1920px;
    width: 100%;
}
.test-title-container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
.request-text{
    font-size: var(--title-fontsize);
    font-family: 'Oswald', sans-serif;
    color: var(--white-background-color);
    width: 100%;
}
.field{
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    color: var(--white-background-color);
}
.select-container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 90px;
}
.select-title{
    width: 100%;
    font-size: 30px;
    color: lightgrey;
    font-family: var(--Roboto-font);
}
.select-container label{
    display: block;
    margin-top: 30px;
    width: 100%;
    color: lightgrey;
    font-size: 20px;
    font-family: var(--Roboto-font)
}
.select-container select{
    margin-top: 30px;
    font-family: var(--Roboto-font);
    max-width: 200px;
    width: 100%;
    height: 50px;
    text-align: center;
}
.select-container input{
    margin-top: 30px;
    font-family: var(--Roboto-font);
    max-width: 500px;
    width: 100%;
    height: 50px;
    position: relative;
}

